{{- if and (eq .chezmoi.os "freebsd") (default false .poudriere) -}}
#!/bin/sh
# onchange: {{ includeTemplate ".nginx.conf.tmpl" . | sha256sum }}
set -e
[ -d /usr/local/etc/nginx ] || exit 0
sudo tee /usr/local/etc/nginx/nginx.conf >/dev/null <<'NGINX'
{{ includeTemplate ".nginx.conf.tmpl" . }}NGINX
if sudo service -e nginx >/dev/null 2>&1; then
    sudo service nginx reload
fi
{{- end -}}
